@charset "UTF-8";
/*
	Fabian Beck
*/
/**==========================================================================
    Reset
   ==========================================================================**/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/**======================================================================
	General
  =======================================================================**/
body {
	font-family: 'Barlow', sans-serif !important;
	font-weight: normal !important;
	font-size: 1rem !important;
    margin: 0;
}
h1,h2,h3 {
	font-family: font-family: 'Barlow', sans-serif;
	font-weight: bold;
	margin: 0;
}

/**======================================================================
	Titel
  =======================================================================**/

/**======================================================================
  Main
  =======================================================================**/
main{
	background: #eee;
	width: 80%;
	border-radius: 10px;
}
.priceRow {
	width: 80%;
	margin: 10px 0;
}

/**======================================================================
  Index
  =======================================================================**/
.infoboxCurrency {

	position: relative;
	margin-left: 15px;
	padding: 1.45rem;
	background-color: #4a89dc;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

	float:left;
	height:100px;
	width: 30%;
	min-width: 300px;
}
.infoboxValue {
	position: relative;
	padding: 1.45rem;
	background-color: #fff;
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	color: #2E2E2E;
	font-weight: bold !important;
	font-size: 1.2rem !important;
	float:left;
	height:100px;
	max-width: 65%;
	min-width: 300px;
}
@media (max-width: 1000px) {
	.infoboxValue {
		margin-left: 15px;
	}
}
.bitcoinCurrency {
	color: #fff;
	font-weight: bold !important;
	font-size: 1.2rem !important;
	text-transform: uppercase;
	margin: 10px 0;
}
/**======================================================================
  Details
=======================================================================**/
.bitcoinStats {
	font-weight: bold !important;
	font-size: 1.2rem !important;
	margin: 10px 0;
}
.statsboxCurrency {

	position: relative;
	margin-left: 15px;
	padding: 1.45rem;
	background-color: #4a89dc;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

	float:left;
	height:100px;
	width: 30%;
	min-width: 400px;
}
.statsboxValue {
	position: relative;
	padding: 1.45rem;
	background-color: #fff;
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	color: #2E2E2E;
	font-weight: bold !important;
	font-size: 1.2rem !important;
	float:left;
	height:100px;
	max-width: 65%;
	min-width: 300px;
}
@media (max-width: 1100px) {
	.statsboxValue {
		margin-left: 15px;
	}
}

/**======================================================================
  calculator
  =======================================================================**/
.desiredAmount {
	font-size: 2rem;
	color: #2E2E2E;
	margin: 0 0 15px 15px;
}
.desiredInput {
	margin: 10px 0 5px 15px;
	width: 300px;
	height: 80px;
	text-align: center;
	font-size: 1.5rem;
	color: #4a89dc;
	letter-spacing: 0.2rem;
}
.calcbox {

    color: #2E2E2E;
    font-weight: bold !important;
    font-size: 1.3rem !important;
    float: left;
	margin: 10px;

}
::placeholder { /* Most modern browsers support this now. */
   font-size: 1.2rem;
   color: #6b6d6f;
  }
}
/**======================================================================
  Footer
  =======================================================================**/
.footer {
		padding: 5px;
		font-weight: normal;
		color: #2E2E2E;
}
/**======================================================================
  Button - Styling
  =======================================================================**/
/**======================================================================
  Animation
  =======================================================================**/
/**======================================================================
  Sidebar – Template bootstrap v4.5.0
  =======================================================================**/
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
@media (max-width: 767.98px) {
	.sidebar {
    	top: 5rem;
  	}
}
.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}
.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}
.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #999;
}
.sidebar .nav-link.active {
	color: #4a89dc;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
}
.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}
