@charset "UTF-8";
/*
	Fabian Beck
*/
/**==========================================================================
    Reset
   ==========================================================================**/
/* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/**======================================================================
	General
  =======================================================================**/
body {
	font-family: 'Barlow', sans-serif !important;
	font-weight: normal !important;
	font-size: 1rem !important;
    margin: 0;
}
h1,h2,h3 {
	font-family: font-family: 'Barlow', sans-serif;
	font-weight: bold;
	margin: 0;
}

/**======================================================================
	Titel
  =======================================================================**/

/**======================================================================
  Main
  =======================================================================**/
main{
	background: #eee;
	width: 80%;
	border-radius: 10px;
}
.priceRow {
	width: 80%;
	margin: 10px 0;
}

/**======================================================================
  Index
  =======================================================================**/
.infoboxCurrency {

	position: relative;
	margin-left: 15px;
	padding: 1.45rem;
	background-color: #4a89dc;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

	float:left;
	height:100px;
	width: 30%;
	min-width: 300px;
}
.infoboxValue {
	position: relative;
	padding: 1.45rem;
	background-color: #fff;
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	color: #2E2E2E;
	font-weight: bold !important;
	font-size: 1.2rem !important;
	float:left;
	height:100px;
	max-width: 65%;
	min-width: 300px;
}
@media (max-width: 1000px) {
	.infoboxValue {
		margin-left: 15px;
	}
}
.bitcoinCurrency {
	color: #fff;
	font-weight: bold !important;
	font-size: 1.2rem !important;
	text-transform: uppercase;
	margin: 10px 0;
}
/**======================================================================
  Details
=======================================================================**/
.bitcoinStats {
	font-weight: bold !important;
	font-size: 1.2rem !important;
	margin: 10px 0;
}
.statsboxCurrency {

	position: relative;
	margin-left: 15px;
	padding: 1.45rem;
	background-color: #4a89dc;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

	float:left;
	height:100px;
	width: 30%;
	min-width: 400px;
}
.statsboxValue {
	position: relative;
	padding: 1.45rem;
	background-color: #fff;
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	color: #2E2E2E;
	font-weight: bold !important;
	font-size: 1.2rem !important;
	float:left;
	height:100px;
	max-width: 65%;
	min-width: 300px;
}
@media (max-width: 1100px) {
	.statsboxValue {
		margin-left: 15px;
	}
}

/**======================================================================
  calculator
  =======================================================================**/
.desiredAmount {
	font-size: 2rem;
	color: #2E2E2E;
	margin: 0 0 15px 15px;
}
.desiredInput {
	margin: 10px;
	width: 300px;
	height: 80px;
	text-align: center;
	font-size: 1.5rem;
	color: #4a89dc;
	letter-spacing: 0.2rem;
}
.calcbox {

    color: #2E2E2E;
    font-weight: bold !important;
    font-size: 1.3rem !important;
    float: left;
	margin: 10px;

}
/**======================================================================
  Footer
  =======================================================================**/
.footer {
		padding: 5px;
		font-weight: normal;
		color: #2E2E2E;
}
/**======================================================================
  Button - Styling
  =======================================================================**/
/**======================================================================
  Animation
  =======================================================================**/


.belt{
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 5px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

#menu-bar{
  background: crimson;
  color: #fff;
  padding: 10px;
}

#menu-bar h1{
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

#menu-bar li{
  float: right;
  margin-left: 20px;
}

#menu-bar a{
  color: #fff
}



.content{
  padding: 20px;
}

.content button,
.content input[type="submit"]{
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #777;
  border: 0;
  box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
  font-size: 16px;
}

.content button:nth-child(2){
  float: right;
}

.content ul{
  padding: 0;
  list-style-type: none;
  margin: 30px 0;
}

.content li{
  padding: 15px 0;
  border-top: 1px solid #e2e2e2;
  color: #444;
}

.content li span{
  float: right;
}

.content li h3{
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
}

.content input{
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin: 10px 0;
}

.content input[type="submit"]:last-child{
  width: 150px;
  display: block;
  margin: 15px auto;
}

.remove{
  float: right;
  padding: 5px;
  background: #fff;
  width: 18px;
  text-align: center;
  border-radius: 20px;
  color: crimson;
  cursor: pointer;
  margin-left: 10px;
}



.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #4a89dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
